@{
    ViewBag.Title = "Home Page";
}
<br><br>
    <div class="row">
        <div class="col-lg-8">
            <form class="form-inline mb-3">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
<br><br>

<center>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../Content/Images/cabbage.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Cabbage</h4>
                    <p class="card-text">Seller:</p>
                    <p class="card-text">Category:</p>
                    <p class="card-text">Quantity:</p>
                    <p class="card-text">Price(Unit price):</p>
                    <a href="#" class="btn btn-primary">+ Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../Content/Images/grapefruit.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Grapefruit</h4>
                    <p class="card-text">Seller:</p>
                    <p class="card-text">Category:</p>
                    <p class="card-text">Quantity:</p>
                    <p class="card-text">Price(Unit price):</p>
                    <a href="#" class="btn btn-primary">+ Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../Content/Images/grapes.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Grapes</h4>
                    <p class="card-text">Seller:</p>
                    <p class="card-text">Category:</p>
                    <p class="card-text">Quantity:</p>
                    <p class="card-text">Price(Unit price):</p>
                    <a href="#" class="btn btn-primary">+ Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
    <br> <br>
         <div class="row">
             <div class="col-lg-4 col-md-6">
                 <div class="card" style="width: 18rem;">
                     <img class="card-img-top" src="../../Content/Images/plantain.jpg" alt="Card image cap">
                     <div class="card-body">
                         <h4 class="card-title">Plantain</h4>
                         <p class="card-text">Seller:</p>
                         <p class="card-text">Category:</p>
                         <p class="card-text">Quantity:</p>
                         <p class="card-text">Price(Unit price):</p>
                         <a href="#" class="btn btn-primary">+ Add to Cart</a>
                     </div>
                 </div>
             </div>
             <div class="col-lg-4 col-md-6">
                 <div class="card" style="width: 18rem;">
                     <img class="card-img-top" src="../../Content/Images/plantain.jpg" alt="Card image cap">
                     <div class="card-body">
                         <h4 class="card-title">Plantain</h4>
                         <p class="card-text">Seller:</p>
                         <p class="card-text">Category:</p>
                         <p class="card-text">Quantity:</p>
                         <p class="card-text">Price(Unit price):</p>
                         <a href="#" class="btn btn-primary">+ Add to Cart</a>
                     </div>
                 </div>
             </div>
             <div class="col-lg-4 col-md-6">
                 <div class="card" style="width: 18rem;">
                     <img class="card-img-top" src="../../Content/Images/plantain.jpg" alt="Card image cap">
                     <div class="card-body">
                         <h4 class="card-title">Plantain</h4>
                         <p class="card-text">Seller:</p>
                         <p class="card-text">Category:</p>
                         <p class="card-text">Quantity:</p>
                         <p class="card-text">Price(Unit price):</p>
                         <a href="#" class="btn btn-primary">+ Add to Cart</a>
                     </div>
                 </div>
             </div>
         </div>
</center>