@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        if (Request.IsAuthenticated)
        {
            <li class="nav-item dropdown" style="padding:2%">
                <img src="~/Content/Images/grape.jpg" class="img-thumbnail img-fluid dropdown-toggle" data-toggle="dropdown" alt="profile picture">
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Cash: $1000</a>
                    <a class="dropdown-item" href="#">View Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item"href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                </div>
            </li>
        }
    }
}
else
{
    
    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link"})</li>
   
}
